* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    position: relative;
}

.background {
    position: absolute;
    display: none;
}

div {
    background-color: red;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-family: cursive;
    font-size: 44px;
    background-color: rgb(255, 63, 63);
    padding: 40px;
    border-radius: 100vmax;
    transition: 0.3s;
    backdrop-filter: blur(22px);

    & span {
        display: inline-block;
        padding: 0 10px;
        margin: 0 10px;
        /* background-color: white; */
        border-radius: 100vmax;
        transition: 0.3s;

        &.name {
            background-color: red;
            padding: 10px 20px;
        }
    }

    &:hover {
        background-color: rgb(255, 63, 63);
        color: white;
        transform: scale(1.1);
    }
}